<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="en" />
    
    <!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen, projection" />
    <![endif]-->
    {{ meta.title }}
  </head>
  
  <body>
    <div id="wrap">
      <div class="container">
        <div class="index-left">
			<a href="#"><img src="/images/ir.gif" alt="ir.kz" /></a>
		    {{ block.left }}
		</div>
        
        {{ block.header }}
        
        <div class="container-show">
          <div id="content-wide" class="content">
            {{ content }}
          </div>
        </div>

        <div class="footer">
          <div class="footer-block1">
            {{ block.footer }}
          </div>
          <p class="ir">© 1999-2010 Группа компаний «Интернет Решения»</p>
        </div>
        
      </div>
    </div>
  </body>
</html>