<div class="form">
{% set form = this.beginWidget('CActiveForm', {
        'id':'category-form',
        'enableAjaxValidation':true,
        'htmlOptions':{
            'enctype':'multipart/form-data'
        }
    })
%}

{{ form.errorSummary(model) }}

{{ this.beginTab('Настройки') }}
    {{ Admin.makeTextFields(form, model, ['title', 'alias']) }}
	<div class="row">
		<div class="left">{{ form.labelEx(model,'published') }}</div>
		<div class="right">
			{{ form.radioButtonList(model,'published',Lookup.items('MPublished')) }}
		</div>
	</div>
	<div class="row">
		<div class="left">{{ form.labelEx(model,'is_empty') }}</div>
		<div class="right">
			{{ form.radioButtonList(model,'is_empty',Lookup.items('YesNo')) }}
		</div>
	</div>
	{% if model.isNewRecord %}
        <div class="row">
    		<div class="left">{{ form.labelEx(model,'type') }}</div>
    		<div class="right">
    			{{ form.dropDownList(model,'type',ModelFactory.getTypes()) }}
    		</div>
    	</div>
    {% endif %}
	{{ this.endTab() }}
	{{ this.beginTab('Метаданные') }}
        {{ Admin.makeTextFields(form, model, ['meta_title', 'meta_descr', 'meta_keywords']) }}
    {{ this.endTab() }}
    {{ this.getTabs() }}
    {{ Admin.submit(model) }}
    
{% set widget = this.endWidget() %}
</div><!-- form -->
